{% extends 'base.html' %}

{% block head %}
<title>Gathering Finder Christams</title>
{% endblock %}

{% block body %}
<div class="content">
    <br>
    <h1 style="text-align: center">Find a gathering below.</h1>
    <h2 style="font-size: smaller;"> The holidays are a time for celebration and being thankful! Don't spend the holidays alone find a gathering below!</h2>

    {% if tasks|length < 1 %} <h4 style="text-align: center">There are no events. Create one below!</h4>
        {% else %}
        <table>
            <tr>
                <th>Event Name</th>
                <th>City</th>
                <th>Organization</th>
                <th>Address</th>
                <th>Date</th>
                <th>Number of RSVP</th>
                <th>Time of Event</th>
                <th>Date Created</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.city }}</td>
                <td>{{ task.organization }}</td>
                <td>{{ task.address }}</td>
                <td>{{ task.date }}</td>
                <td>{{ task.rsvp }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <a href="/rsvp/{{task.id}}">RSVP</a>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

<div class="form">
    <form action="/" method="POST">
        <label for="name" class="label">Event Name</label><br>
        <input type="text" name="name" id="name"><br>
        <label for="city" class="label">City</label><br>
        <input type="text" name="city" id="city"><br>
        <label for="org" class="label">Organization</label><br>
        <input type="text" name="org" id="org"><br>
        <label for="addy" class="label">Address</label><br>
        <input type="text" name="addy" id="addy"><br>
        <label for="date" class="label">Date</label><br>
        <input type="text" name="date" id="date"><br>
        <label for="rsvp" class="label">How many attending?</label><br>
        <input type="number" name="rsvp" id="rsvp"><br>
        <label for="description" class="label">What time?</label><br>
        <input type="text" name="description" id="description"><br>
        <br>
        <input type="submit" value="Submit" id="SubmitButton">
    </form>
</div>
<br>
</div>
{% endblock %}