{% extends 'base.html' %}

{% block head %}
<title>Gathering Finder Christams</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Find a Gathering Below</h1>
    {% if tasks|length < 1 %} <h4 style="text-align: center">There are no Events. Create one below!</h4>
        {% else %}
        <table>
            <tr>
                <th>Event Name</th>
                <th>City</th>
                <th>Organization</th>
                <th>Address</th>
                <th>Date and Time</th>
                <th>Number of RSVP</th>
                <th>Description</th>
                <th>Date Created</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.city }}</td>
                <td>{{ task.organization }}</td>
                <td>{{ task.address }}</td>
                <td>{{ task.date }}</td>
                <td>{{ task.rsvp }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <a href="/rsvp/{{task.id}}">RSVP</a>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        <div class="form">
            <form action="/" method="POST">
                <input type="text" name="name" id="name">
                <input type="text" name="city" id="city">
                <input type="text" name="org" id="org">
                <input type="text" name="addy" id="addy">
                <input type="text" name="date" id="date">
                <input type="number" name="rsvp" id="rsvp">
                <input type="text" name="description" id="description">
                <input type="submit" value="Add Task">
            </form>
        </div>
</div>
{% endblock %}