body, html {
    
    margin: 0;
    font-family: sans-serif;
}
body{
    background-image: url(../styles/christmas.jpg);
}

.content {
    background-image: url(../styles/christmas2.jpg);
    margin: 0 auto;
    width: 700px;
}

table{
max-width: 700px;
}
table, td, th {
    background-color: #ff3333;
    border: 1px solid #aaa;
}

td, th{
    max-width: 100px;
    word-wrap: break-word;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
    widows: 100%;
    text-align: center;
}

#content {
    width: 100%;
}

.label {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}